@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Charter/charter_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Charter/charter_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Charter/charter_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Charter";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Charter/charter_bold_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-Bold.eot");
  src: url("../fonts/Tiempos/TiemposText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-Bold.woff") format("woff"), url("../fonts/Tiempos/TiemposText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-BoldItalic.eot");
  src: url("../fonts/Tiempos/TiemposText-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-BoldItalic.woff") format("woff"), url("../fonts/Tiempos/TiemposText-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-Semibold.eot");
  src: url("../fonts/Tiempos/TiemposText-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-Semibold.woff") format("woff"), url("../fonts/Tiempos/TiemposText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-SemiboldItalic.eot");
  src: url("../fonts/Tiempos/TiemposText-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-SemiboldItalic.woff") format("woff"), url("../fonts/Tiempos/TiemposText-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-Regular.eot");
  src: url("../fonts/Tiempos/TiemposText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-Regular.woff") format("woff"), url("../fonts/Tiempos/TiemposText-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tiempos Text";
  src: url("../fonts/Tiempos/TiemposText-Italic.eot");
  src: url("../fonts/Tiempos/TiemposText-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Tiempos/TiemposText-Italic.woff") format("woff"), url("../fonts/Tiempos/TiemposText-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-Bold.eot");
  src: url("../fonts/Athletics/Athletics-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-Bold.woff2") format("woff2"), url("../fonts/Athletics/Athletics-Bold.woff") format("woff"), url("../fonts/Athletics/Athletics-Bold.ttf") format("truetype"), url("../fonts/Athletics/Athletics-Bold.svg#Athletics-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-BoldItalic.eot");
  src: url("../fonts/Athletics/Athletics-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-BoldItalic.woff2") format("woff2"), url("../fonts/Athletics/Athletics-BoldItalic.woff") format("woff"), url("../fonts/Athletics/Athletics-BoldItalic.ttf") format("truetype"), url("../fonts/Athletics/Athletics-BoldItalic.svg#Athletics-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-Medium.eot");
  src: url("../fonts/Athletics/Athletics-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-Medium.woff2") format("woff2"), url("../fonts/Athletics/Athletics-Medium.woff") format("woff"), url("../fonts/Athletics/Athletics-Medium.ttf") format("truetype"), url("../fonts/Athletics/Athletics-Medium.svg#Athletics-Medium") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-MediumItalic.eot");
  src: url("../fonts/Athletics/Athletics-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-MediumItalic.woff2") format("woff2"), url("../fonts/Athletics/Athletics-MediumItalic.woff") format("woff"), url("../fonts/Athletics/Athletics-MediumItalic.ttf") format("truetype"), url("../fonts/Athletics/Athletics-MediumItalic.svg#Athletics-MediumItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-Italic.eot");
  src: url("../fonts/Athletics/Athletics-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-Italic.woff2") format("woff2"), url("../fonts/Athletics/Athletics-Italic.woff") format("woff"), url("../fonts/Athletics/Athletics-Italic.ttf") format("truetype"), url("../fonts/Athletics/Athletics-Italic.svg#Athletics-Italic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Athletics";
  src: url("../fonts/Athletics/Athletics-Regular.eot");
  src: url("../fonts/Athletics/Athletics-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Athletics/Athletics-Regular.woff2") format("woff2"), url("../fonts/Athletics/Athletics-Regular.woff") format("woff"), url("../fonts/Athletics/Athletics-Regular.ttf") format("truetype"), url("../fonts/Athletics/Athletics-Regular.svg#Athletics-Regular") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.columns-3 {
  display: grid;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
}

.columns-4 {
  display: grid;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  grid-template-columns: repeat(4, 1fr);
}

.columns-5 {
  display: grid;
  -moz-column-gap: 1vw;
       column-gap: 1vw;
  grid-template-columns: repeat(5, 1fr);
}

.columns-2 {
  display: grid;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-columns: repeat(2, 1fr);
}

.media-wrapper {
  flex-grow: 1;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: #1e293b;
}

.media-row {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}
.media-row video, .media-row img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.gso30_3d {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
div.gso30_3d model-viewer {
  width: 100%;
  height: 240px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .columns-12 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(6, 1fr);
  }
  .columns-10 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(5, 1fr);
  }
  .columns-8 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
  }
  .columns-6 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-5 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-4 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .columns-6-3d {
    grid-template-columns: 1.3fr 1.3fr 1fr;
  }
}
@media screen and (max-width: 769px) {
  .columns-12 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }
  .columns-2 {
    display: grid;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=clarity.css.map */